@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
/* common css or utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    margin-top: 24px;
    text-decoration: none;
    padding: 5px 15px;
    border: 1px solid orangered;
    background-color: orangered;
}
.btn:hover{
    background-color: transparent;
    transition: 2s;
    color: orangered;
}
h2{
    font-size: 48px;
    font-weight: 700;
    margin: 0px;
}
h3{
    font-size: 28px;
    font-weight: 700;
    
}

/* top container */
.top-container{
    background-color: blue;
}
.top-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;

}
.top-heading{
    margin-left: 146px;
    width: 485px;
    margin-right: 102px;
}
.top-heading h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
}
.top-items .btn{
    margin-top: 34px;
}
.top-banner{
    margin-top: 135px;
    
}
.top-banner img{
    width: 556px;
    height: 438px;
}
/* ----------player container -------------*/
.player-container{
    margin-top: 43px;
    width: 1050px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 170px;
}
.player{
    width: 300px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 27px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px
}
.player-banner img{
    width: 300px;
    height: 256px;
}
/* ------------------highlights container----------- */

.highlights-items{
    display: flex;
    align-items: center;
}
.highlights-info{
    width: 469px;
    height: 309px;
    margin-left: 182px ;
    margin-top: 224px;
    margin-right: 60px;
}
.highlights-banner img{
    width: 567px;
    height: 427px;
    margin-top: 165px;
    
}
.footer-container{
    margin-top: 171px;
}
.footer-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-banner img{
    width: 483px;
    height: 110px;
}
.icon{
    padding: 5px;
    width: 32px;
    height: 32px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color:rgba(0, 0, 0, 0.15);
    margin-right: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline;
}
/* media-queries */

/* Mobile device */

@media only screen and (min-width: 320px) and (max-width: 575px) {
    .top-items{
        flex-direction: column;
        align-items: center;
        margin-left: 16px;
    }
    .top-heading{
        margin-left: 16px;
        width: 278px;
        margin-right: 66px;
    }
    .top-heading h1{
        font-size: 34px;
        line-height: 50px;
    }
    .top-banner{
        margin-top: 50px;
    }
    .top-banner img{
        width: 329px;
        height: 259px;
    }
    .player-container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 26px;
    }
    .highlights-items {
        align-items: center;
        flex-direction: column;
        margin-left: 36px;
    }
    .highlights-info{
        width: 330px;
        height: 300px;
        margin-left: 16px ;
        margin-top: 60px;
        margin-right: 15px;
    }
    h2{
        font-size: 30px;
        font-weight: 700;
        
    }
    .highlights-banner img{
        width: 328px;
        height: 248px;
        margin: 0 16px;
    }
    .footer-container{
        margin-top: 43px;
    }
    .footer-banner img{
        width: 250px;
        height: 63px;
    }
    .icons{
        margin-top: 30px;
        margin-left: 50px;
    }
    .copyright{
        margin-left: 45px;
    }

    
}
/* ------------------Tablet device ------------------*/
@media (min-width: 576px) and (max-width: 767px){
    .top-container{
        width: 100%;
    }
    .top-items{
        flex-direction: column;
        align-items: center;
        margin-left: 16px;
    }
    .top-heading{
        width: 350px;
    }
    .top-heading h1{
        font-size: 45px;
        line-height: 50px;
    }
    .top-banner{
        margin-top: 50px;
    }
    .top-banner img{
        width: 450px;
        height: 320px;
    }
    .player-container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 55px;
    }
    .player{
        width: 400px;
    }
    .player img{
        width: 400px;
        height: 300px;
    }
    .highlights-items {
        align-items: center;
        flex-direction: column;
        margin-left: 36px;
    }
    .highlights-info{
        width: 330px;
        height: 300px;
        margin-left: 16px ;
        margin-top: 60px;
        margin-right: 15px;
    }
    h2{
        font-size: 30px;
        font-weight: 700;
        
    }
    .highlights-banner img{
        width: 328px;
        height: 248px;
        margin: 0 16px;
    }
    .footer-container{
        margin-top: 43px;
    }
    .footer-banner img{
        width: 250px;
        height: 63px;
    }
    .icons{
        margin-top: 30px;
        margin-left: 50px;
    }
    .copyright{
        margin-left: 45px;
    }

}
